<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ziroom 监控</title>
    <link href="https://cdn.bootcss.com/element-ui/2.3.7/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1148396_8xlck65ivge.css">
    <style>
        .el-slider{
            display: inline-block;
            width: 200px;
        }
        .filter-item{
            display: inline-flex;
            color: #666;
            border-left: 1px solid;
            padding-left: 10px;
        }
        .filter-item:nth-child(1){
            border-left: none;
        }
        .filter-item > div{
            min-width: 50px;
            line-height: 40px;
        }
        .el-checkbox+.el-checkbox {
            margin-left: 10px;
        }
        .path-group {
            display: inline-flex;
            flex-direction: column;
        }
        .step-line-group {
            display: inline-flex;
            box-sizing: border-box;
            width: 180px;
            background: #eee;
            position: relative;
            margin-bottom: 4px;
        }
        .duration-label {
            position: absolute;
            right: 0;
            font-size: 13px;
            line-height: 13px;
            height: 13px;
        }
        .step-line {
            height: 14px;
            display: inline-block;
            border-right: 1px solid #ddd;
        }
        /* 公交车 夜班车 */
        .line-3-0, .line-3-2, .line-3-4 ,.line-3-6 {
            background: #d66;
        }
        /* 地铁 */
        .line-3-1 {
            background: #58c;
        }
        /* 步行 */
        .line-5-0 {
            background: #8d8;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- 筛选器 -->
        <div>
            <!-- <div class="filter-item">
                <div>距离 : </div>
                <div>{{filter.distance[0]}}</div><el-slider range v-model="filter.distance" :step="0.5" :max="10"></el-slider><div>{{filter.distance[1]}}</div>
            </div> -->
            <div class="filter-item">
                <div>价格 : </div>
                <div>{{filter.price[0]}}</div><el-slider range v-model="filter.price" :step="50" :max="12000"  :min="2000"></el-slider><div>{{filter.price[1]}}</div>
            </div>
            <div class="filter-item">
                <div>状态 : </div>
                <div>
                    <el-checkbox-group v-model="filter.status">
                        <el-checkbox label="dzz">待租</el-checkbox>
                        <el-checkbox label="已出租"></el-checkbox>
                        <el-checkbox label="已下定"></el-checkbox>
                        <el-checkbox label="zxpzz">装修配置中</el-checkbox>
                        <el-checkbox label="tzpzz">退租配置中</el-checkbox>
                    </el-checkbox-group>
                </div>
            </div>
        </div>
        <!-- 列表 -->
        <el-table :data="list" style="width: 100%" stripe>
            <el-table-column label="#" width="80" type='index'></el-table-column>
            <el-table-column prop="id" label="ID" width="120"></el-table-column>
            <el-table-column prop="status" label="状态" width="90" sortable>
                <template slot-scope="scope">
                    <span v-if="scope.row.status==='dzz'" style="color: #0c0">待租</span>
                    <span v-else-if="scope.row.status==='ycz'" style="color: #c00">已租</span>
                    <span v-else>{{scope.row.status}}</span>
                </template>
            </el-table-column>
            <el-table-column prop="name" label="名称" width="260"></el-table-column>
            <el-table-column prop="turn" label="类型" width="80">
                <template slot-scope="scope">
                    {{scope.row.turn?'转租':''}}
                </template>
            </el-table-column>
            <el-table-column prop="priceParsed.price" label="价格" width="90" sortable></el-table-column>
            <el-table-column prop="area" label="面积" width="80" sortable></el-table-column>
            <!-- area.replace(/[^0-9.]/ig,""); -->
            <el-table-column label="骑行时长" width="160" sortable :sort-method="durationSort">
                <template slot-scope="scope">
                    <span v-if="scope.row.pathRide">
                        {{(scope.row.pathRide.duration/60).toFixed(1)}}分 /
                        {{(scope.row.pathRide.distance/1000).toFixed(1)}}km
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="公交路线" width="200">
                <template slot-scope="scope">
                    <span v-if="scope.row.pathTransitGroup" class="path-group">
                        <span v-for='path in scope.row.pathTransitGroup' class="step-line-group" :style="{paddingRight: `${(90-path.duration/60)/90*100}%`}">
                            <span v-for="step in path.steps"
                                class='step-line'
                                :class='`line-${step.type}-${step.detailType||0}`'
                                :style="{width: step.duration/path.calcDuration*100 + '%'}"></span>
                            <span class="duration-label">{{(path.duration/60).toFixed(1)}} 分</span>
                        </span>
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="楼层" width="80">
                <template slot-scope="scope">{{scope.row.floor}}/{{scope.row.floor_total}}</template>
            </el-table-column>
            <el-table-column label="首次发现时间" width="200" sortable :sort-method="firstUpdateTimeSort">
                <template slot-scope="scope">
                    {{new Date(scope.row.firstUpdateTime).toLocaleDateString()}} , {{Math.floor((new Date().getTime() - scope.row.firstUpdateTime)/1000/60)}} 分前
                </template>
            </el-table-column>
            <el-table-column width="150px" label="图片">
                <template slot-scope="scope">
                    <el-popover placement="right" title="" trigger="hover">
                        <img :src="scope.row.hx_photos_big"/>
                        <img slot="reference" :src="scope.row.hx_photos_min" :alt="scope.row.hx_photos_min"
                            style="max-height: 20px">
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column label="上次刷新" sortable :sort-method="lastUpdateTimeSort">
                <template slot-scope="scope">
                    {{Math.floor((new Date().getTime() - scope.row.lastUpdateTime)/1000/60)}} 分前
                </template>
            </el-table-column>
            <el-table-column lable="链接">
                <template slot-scope="scope">
                    <a :href="'http://www.ziroom.com/z/vr/'+scope.row.id+'.html'" target="_blank">查看</a>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.3.7/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: '所有数据',
                filter: {
                    distance: [0,9],
                    price: [5000,9000],
                    status: ['dzz','ycz','zxpzz']
                },
                list: [],
                isBusy: false,
                locker: null
            },
            watch: {
                filter: {
                    deep: true,
                    handler: function (val) {
                        clearTimeout(this.locker)
                        this.locker = setTimeout(() => {
                            this.getList()
                        }, 1000)
                        this.getList()
                    }
                }
            },
            methods: {
                getList (){
                    if(this.isBusy)return
                    this.isBusy=true
                    axios.get('api/list',{
                        params: this.filter
                    }).then((res) => {
                        this.isBusy = false
                        this.list = res.data
                    },(err) => {
                        this.isBusy = false
                        console.log('error', err)
                    })
                },
                durationSort (a, b){
                    if(!a.path.result)return -1
                    if(!b.path.result)return 1
                    return a.path.result.routes[0].duration - b.path.result.routes[0].duration
                },
                distanceSort (a, b){
                    if(!a.path.result)return -1
                    if(!b.path.result)return 1
                    return a.path.result.routes[0].distance - b.path.result.routes[0].distance
                },
                lastUpdateTimeSort (a, b){
                    return a.lastUpdateTime - b.lastUpdateTime
                },
                firstUpdateTimeSort (a, b){
                    return a.firstUpdateTime - b.firstUpdateTime
                }
            },
            created (){
                console.log(this)
                this.getList()
                setInterval(function () {
                    this.getList()
                }.bind(this),10000)
            }
        })
    </script>
</body>
</html>